<div class="back">
<div class="container">

    <div class="row  g-3 col col-3 col-sm-4 col-md-6 col-lg-12 col-xl-12 d-flex flex-row">
       <div class="eachUser">
        <h4>For Participants</h4>
        “The only one who can tell you ‘you can’t win’ is you and you don’t have to listen.”<br>—Jessica Ennis-Hill 
    <a routerLink="/participant">
        <button class="button-48 mt-2" role="button"><span class="text">Sign up & Ace</span></button>

    </a>

   

       </div>
       <div class="eachUser">
        <h4>For House Captains</h4>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At provident illum amet numquam minus voluptatum error unde!
        <a routerLink="/houseCaps">
            <button class="button-48 mt-2" role="button"><span class="text">Log in</span></button>
    
        </a>
       

       </div>
       <div class="eachUser">
        <h4>For Organisers</h4>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis nisi quas eos cumque fuga excepturi quaerat eligendi.
        <a routerLink="/organiser">
            
            <button class="button-48 mt-2" role="button"><span class="text">Log in</span></button>
    
        </a>
       
      
     
    </div>
</div>
</div>