<div class="container">

  <h1 style=" text-align:center ;text-decoration: overline; ">
    hi Participant..
  
  </h1>
  <div class="row g-0">
    <div class="col-lg-4 res">
      <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3174456/profile-clipart-md.png" class="img-fluid rounded  center p-4" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h5>Class</h5>
        <h5>Age</h5>
        <h5>House</h5>
        <h5>Registered Items</h5>
     
        <ul>

          <li>
            
          </li>
          <li>
            
          </li>
          <li>
            
          </li>
          <li>
            
          </li>
        </ul>  
        
     
        
      </div>
    </div>
  </div>

  
  
  <a routerLink="/events">
  <button>
    Register
  
  </button>
  </a>

</div>
